body {
	background-color: #BDBDBD;
}

.cell {
	display: inline-block;
	padding: 0 1em 0 1em;
	border: 1px solid black;
	width: 15%;
	text-align: center;
	background-color: #2EFEF7;
}

.removeButton {
	background-color: #58D3F7;
	transition: background-color 1s ease;
}

#btn {
	background-color: #58D3F7;
	transition: background-color 1s ease;
	width: 10em;
	height: 5em;
	font-size: 2em;
	padding: 0;
}

#btn:hover{
	background-color: #FE2EC8;
}

.removeButton:hover{
	background-color: #FE2EC8;
}